/*
	SHOUTBOX STYLESHEET
	Sean Davies 2013 - http://seandavies.pw

*/

.label-info {
  background-color: #5bc0de;
}
.label-default {
  background-color: #999999;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.text-muted {
  color: #999999;
}

.delete_button {
	background: transparent;
	border: none;
	padding: 0px;
	color: #EFEFEF;
}

.delete_button:hover {
	color: #CCCCCC;
}

.delete_button:active {
	color: #666666;
}

.delete_button:focus {
	outline: none;
}