.form-control {
	background-color: #fff;
	/* Margin */
	margin: 2px 0 2px 0;
	/* Border */
	border: 1px solid #f1f1f1;
	/* Box Shadow */
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
            box-shadow: none;
    /* Border Radius */
    -moz-border-radius: 3px;
         border-radius: 3px;
}

.form-control:focus {
	/* Border */
	border: 1px solid #d7d7d7;
	/* Box Shadow */
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
            box-shadow: none;
    /* Transition */
    -webkit-transition: border ease-in-out 0.15s;
            transition: border ease-in-out 0.15s;
}