/* Node */
.node-read {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #dddddd;
}
.node-unread {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #000000;
}