/*
 * Navigation
 */

.navbar-toggle {
    /* Border */
    border: none;
    /* Border Radius */
    -moz-border-radius: 3px;
         border-radius: 3px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    /* Border */
    border: none;
    /* Border Radius */
    -moz-border-radius: 0;
         border-radius: 0;
}

@media(min-width: 760px) {
  .navbar-default .container-fluid {
      /* Padding */
      padding-left: 0;
  }

  .navbar-collapse {
    /* Padding */
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-default {
    /* Margin */
    margin-top: 20px;
  }

  .navbar-default .navbar-nav > li > a {
    /* Border Radius */
    -moz-border-radius: 3px;
         border-radius: 3px;
  }

  /* Dropdown */
  .dropdown-menu {
    min-width: 200px;
  }

  .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    content: '';
    /* Border */
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f1f1f1;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0);
  }

  .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    content: '';
    /* Border */
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
  }

  .navbar .navbar-right > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu.navbar-right:before {
    right: 12px;
    left: auto;
  } 

  .navbar .navbar-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.navbar-right:after {
    right: 13px;
    left: auto;
  }

  .search-toggle ul, .login-form ul {
    /* Padding */
    padding-left: 5px;
    padding-right: 5px;
  }
}

.navbar-default .navbar-nav > li > a {
    /* Font */
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    /* Border */
    border: none;
    /* Box Shadow */
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #dddddd;
    /* Font */
    color: #6e6e6e;
    /* Transition */
    -webkit-transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s;
            transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}

.navbar-default .navbar-nav > .active > a {
    background-color: rgba(110, 110, 110, 0.6);
    /* Color */
    color: #f1f1f1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    /* Box Shadow */
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba(110, 110, 110, 0.8);
    /* Color */
    color: #f1f1f1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

}

/* Dropdown Menu */
.dropdown-menu {
    /* Font */
    font-family: 'fira_sanslight';
    /* Border */
    border: 1px solid #f1f1f1;
    /* Border Radius */
    -moz-border-radius: 3px;
         border-radius: 3px;
}