/*
 * CSS
 */
.nav_stay {
    /* Border *
    border-top: none;
    /* Border Radius */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
#slide_signin {
    background-color: #18bc9c;
    padding: 15px;
    /* Display */
    display: none;
    /* Font */
    color: #fff;
}
#slide_signin > .container {
    width: 40%;
}
.dropdown-messages {
    width: 265px;
}
.btn-group >.alert-title {
    width: 200px;
    display: none;
}
.btn-group >.alert-content {
    width: 200px;
    display: none;
}
.btn-group >.alert-content > ul.list-group {
    width: 250px;
}
.popover {
    padding: 0;
}

/* Thread Post */
.post_quote {
    display: none;
}

/* Staff red bar */
#staff_bar {
    height: 35px;
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
#staff_bar > .container > ul {
    list-style: none;
}
#staff_bar > .container > ul > li {
    height: auto;
    float: left;
    display: inline-block;
}
#staff_bar > .container > ul > li:hover {
    background-color: #ca4234;
}
#staff_bar a, #staff_bar a:link, #staff_bar a:visited, #staff_bar a:hover {
    padding: 7px 10px 7px 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: block;
}

/* User */
.user_dropdown {
    margin-top: 9px;
}

/* Thread */
#starter #thread_tools, #thread_reply #post_tools {
    opacity: 0.6;
}
#starter:hover #thread_tools, #thread_reply #post_tools {
    opacity: 1;
}

/* Form */
input[type="text"], input[type="password"] {
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.428571429;
    color: #2c3e50;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #1abc9c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6);
}
textarea {
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.428571429;
    color: #2c3e50;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
textarea:focus {
    border-color: #1abc9c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(26, 188, 156, 0.6);
}
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
    color: #acb6c0;
}
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
  color: #acb6c0;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: #acb6c0;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: #acb6c0;
}
input[type="submit"] {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    color: #ffffff;
    background-color: #7f9293;
    border-color: #74898a;
}

/* HTML Entities */
pre {
    position: relative;
    /* Margin */
    margin-top: 30px;
}
pre:before {
    background-color: #cccccc;
    content: "Code:";
    clear: right;
    display: block;
    /* Font */
    font-size: 11px;
    /* Padding */
    padding: 3px;
    /* Position */
    position: absolute;
    top: -22px;
    left: 5px;
    /* Border Radius */
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}