/*
 * Layout by Jian  (http://jtpox.com/)
 * With a mix of Bootstrap.
 */
@import url('bootstrap.min.css');

/* Google Web Fonts */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700');

/* Icon Fonts */
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('octicons.css');

/* Logo Fonts */
@import url('logo.font.css');

/* Bootstrap Variables */
@import url('form.css');
@import url('dropdown.css');
@import url('navbar.css');
@import url('buttons.css');
@import url('alert.css');
@import url('panel.css');
@import url('pagination.css');
@import url('forum.css');

body {
	background-color: #fff;
	/* Font */
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	/* Font */
	font-family: 'fira_sansmedium';
}

.row-showcase {
	/* Font */
	text-align: center;
}

.row-showcase h1 {
	/* Font */
	font-family: 'fira_sansmedium';
}

/* Top Container */
.top {
	background-image: url('../img/stardust.png');
	/* Font */
	color: #f8f5f0;
	text-align: center;
	/* Margin and Padding */
	margin: 0 0 40px 0;
	/* Border */
	border-bottom: 1px solid #f8f5f0;
}

.top > .container {
	/* Padding and Margin */
	padding: 20px 0 80px 0;
}

.top .message {
	/* Font */
	font-size: 30px;
	font-family: 'fira_sanslight';
}

.top .sentence {
	/* Font */
	font-size: 20px;
	font-family: 'fira_sanslight';
}

.top .links {
	/* Padding & Margin */
	margin-top: 20px;
	/* Font */
	font-size: 30px;
}

/* Logo */
.logo {
	height: auto;
	/* Font */
	font-size: 50px;
}

.logo-small {
	height: auto;
	width: 125px;
	/* Margin */
	margin: 0 auto;
	/* Font */
	font-size: 30px;
}

.logo:before, .logo-small:before, .logo-animate:before {
	content: 'Code';
	/* Font */
	font-family: 'fira_sansmedium';
	color: #a57aa0;
	text-shadow: 1px 1px 0 #3a3a3a;
}

.logo:after, .logo-small:after, .logo-animate:after {
	content: 'tana';
	/* Font */
	font-family: 'artbrushmedium';
	color: #c75e5c;
	text-shadow: 1px 1px 0 #3a3a3a;
}

/* Button */
.btn-github {
	background-color: #fff;
	opacity: 0.9;
	/* Padding & Margin */
	padding: 15px 40px 15px 40px;
	/* Font */
	color: #3a3a3a;
	font-size: 20px;
	font-family: 'fira_sansmedium';
	/* Border */
	border: none;
	/* Border Radius */
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}

.btn-github:hover, btn-github:focus {
	background-color: #f8f5f0;
	opacity: 1;
	/* Transitions */
	-webkit-transition: background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
            transition: background-color ease-in-out 0.2s, opacity ease-in-out 0.2s;
}

.btn-work {
	background-color: none;
	opacity: 0.6;
	/* Padding & Margin */
	padding: 12px 37px 12px 37px;
	/* Font */
	color: #fff;
	font-size: 20px;
	font-family: 'fira_sansmedium';
	/* Border */
	border: 3px solid #fff;
	/* Border Radius */
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}

.btn-work:hover, btn-work:focus {
	opacity: 1;
	/* Font */
	color: #fff;
	/* Transition */
	-webkit-transition: opacity ease-in-out 0.2s;
            transition: opacity ease-in-out 0.2s;
}

/* Footer */
.footer {
	/* Padding & Margin */
	margin: 40px 0 20px 0;
	/* Font */
	text-align: center;
}

.footer .hosted_by {
	background-image: url('../img/hosted_by.png');
	width: 95px;
	height: 25px;
	/* Padding & Margin */
	margin: 0 auto;
	margin-top: 10px;
}

/* Highlight */
::selection {
    background: #3a3a3a; /* WebKit/Blink Browsers */
    background-color: rgba(58, 58, 58, 0.4);
}
::-moz-selection {
    background: #3a3a3a; /* Gecko Browsers */
    background-color: rgba(58, 58, 58, 0.4);
}

/* Well */
.well {
	background-color: none;
	/* Box Shadow */
	box-shadow: none;
	/* Border */
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #d2d2d2;
	/* Border Radius */
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}