/* Forum */

/* Login Form */
.login-form {
    /* Padding */
    padding: 0 5px 0 5px;
}

.login-form input {
    margin-bottom: 5px;
}

.login-form label {
    /* Font */
    color: #3a3a3a;
    text-align: center;
}

/* Title */
h1.title {
	margin: 0 0 5px 0;
}

/* Forum Legends */
.forum-legends {
    /* Font */
    text-align: center;
    /* Padding and Margin */
    margin: 5px 0 15px 0;
}

/* Node */
.node-read {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #dddddd;
}
.node-unread {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #000000;
}

/* Search */
.search {
	/* Padding & Margin */
	margin-bottom: 10px;
}

/* Threads */
.user_details {
    overflow: auto;
    /* Padding and Margin */
    padding: 0 0 7px 0;
    /* Border */
    border-bottom: 1px solid #f8f5f0;
}

.user_details .name {
    /* Float */
    float: left;
    /* Padding and Margin */
    margin: 0 0 0 10px;
}

.thread_content {
    min-height: 150px;
    /* Padding and Margin */
    padding: 10px 0 10px 0;
    /* Border */
    border-bottom: 1px dashed #f8f5f0;
}

.signature {
    height: auto;
    /* Padding and Margin */
    padding: 10px 0 10px 0;
}

.tools {
    overflow: auto;
}