@font-face {
    font-family: 'artbrushmedium';
    src: url('../fonts/artbrush/artbrush-webfont.eot');
    src: url('../fonts/artbrush/artbrush-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artbrush/artbrush-webfont.woff') format('woff'),
         url('../fonts/artbrush/artbrush-webfont.ttf') format('truetype'),
         url('../fonts/artbrush/artbrush-webfont.svg#artbrushmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/firasans/firasans-light-webfont.eot');
    src: url('../fonts/firasans/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans/firasans-light-webfont.woff') format('woff'),
         url('../fonts/firasans/firasans-light-webfont.ttf') format('truetype'),
         url('../fonts/firasans/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('../fonts/firasans/firasans-medium-webfont.eot');
    src: url('../fonts/firasans/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans/firasans-medium-webfont.woff') format('woff'),
         url('../fonts/firasans/firasans-medium-webfont.ttf') format('truetype'),
         url('../fonts/firasans/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Font Smoothing */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'artbrushmedium';
        src: url('../fonts/artbrush/artbrush-webfont.svg#artbrushmedium') format('svg');
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fira_sanslight';
        src: url('../fonts/firasans/firasans-light-webfont.svg#fira_sanslight') format('svg');
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'fira_sansmedium';
        src: url('../fonts/firasans/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    }
}