/* Navigation Bar */

.navbar-default .navbar-toggle {
	/* Border */
	border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f8f5f0;
}

.navbar-default {
	background-color: rgba(255, 255, 255, 0);
	/* Font */
	font-family: 'fira_sansmedium';
	/* Border */
	border: none;
	/* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.navbar-default .navbar-nav > li > a {
	/* Font */
	color: #f8f5f0;
	text-shadow: none;
}

.navbar-default .navbar-nav > li > a:hover {
	/* Font */
	color: #ebe8e4;
}

.navbar-default .navbar-nav > .active > a {
	background-color: rgba(255, 255, 255, 0);
	/* Font */
	color: #ebe8e4;
}

.navbar-default .navbar-nav > .dropdown.open > a {
	background-color: rgba(225, 225, 225, 0);
	/* Font */
	color: #ebe8e4;
	font-weight: normal;
}

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

/*@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}*/

/* Nav Pills */
.nav-pills > li > a {
	/* Font */
	color: #3a3a3a;
	/* Border Radius */
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-pills > li > a:hover {
	background-color: #d2cfcb;
}

.nav-pills > li.active > a {
	background-color: #3a3a3a;
	/* Font */
	color: #f8f5f0;
}

.nav-pills > li.active > a:hover {
	background-color: #303030;
}