/* Pagination */

.pagination > li > a {
	background-color: none;
	/* Border */
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 2px solid #d2d2d2;
	/* Border Radius */
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.pagination > li > a:hover {
	background-color: rgba(255, 255, 255, 0);
	/* Border */
	border-bottom: 2px solid #3a3a3a;
}