/*
 * Theme: tCraft
 * By: Jian Ting (http://jtpox.com)
 * License: MIT
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url('bootstrap.min.css');
@import url('bootstrap-theme.css');
@import url('font-awesome.min.css');

h1, h2, h3, h4, h5 {
	margin: 0;
}

h1.site_name {
	margin: 15px 0 15px 0;
}

h1.site_name a, h1.site_name a:link, h1.site_name a:visited, h1.site_name a:hover {
	color: #f7f7f7;
	text-decoration: none;
}

.page {
	/* Margin & Padding */
	margin-bottom: 10px;
	padding: 5px 0 5px 0;
	/* Border */
	border-bottom: 1px solid #d8d8d8;
}

body {
	background-image: url('../img/bg.png');
	background-color: #f7f7f7;
	background-attachment: fixed;
	/* Margin */
	margin-bottom: 20px;
	/* Font */
	color: #373737;
	font-family: 'Lato', 'sans-serif';
}

/*
 * Header
 */
#top-wrapper {
	background: url('../img/header.png');
	background-size: cover;
	background-position: 0 600px;
	height: auto;
	width: 100%;
}

#top-wrapper .container.tcontainer {
	/* Font */
	color: #f7f7f7;
	text-shadow: 1px 1px 0px #474747;
}

/* Dropdown */
/*ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}*/

.dropdown-menu {
	background-image: none;
	background-color: rgba(247, 247, 247, 0.9);
	/* Box Shadow */
	box-shadow: none;
	/* Border Radius */
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.dropdown-menu > li > a {
	margin: 5px;
	/* Border Radius */
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

/* Navbar */
#nav {
	width: 100%;
	top: 0;
}

.navbar-default .navbar-nav {
	margin-left: -30px;
}

.navbar-default .navbar-nav > li > a {
	/* Font */
    color: #f7f7f7;
    text-shadow: 1px 1px 0px #373737;
    font-weight: bold;
}

.navbar-default .navbar-nav > .open > a:focus {
	background-image: none;
	background-color: rgba(55, 55, 55, 0.4);
	/* Font */
    color: #f7f7f7;
    text-shadow: 1px 1px 0px #373737;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
	background-image: none;
	background-color: rgba(55, 55, 55, 0.4);
	/* Font */
    color: #f7f7f7;
    text-shadow: 1px 1px 0px #373737;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #060606;
  background-image: none;
  /* Font */
  color: #f7f7f7;
  text-shadow: 1px 1px 0px #373737;
  font-weight: bold;
}

/* Search */
.search_box {
	margin: 20px 0 0 0;
	float: right;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input.form-control {
	background-color: #fff;
    padding-left: 30px;    
}

.left-inner-addon i {
	color: #373737;
    position: absolute;
    padding: 10px 12px;
}

/* Form */
.form-control {
	/* Border */
	border: 1px solid #474747;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.form-control:focus {
	border: 1px solid #373737;
	box-shadow: none;
}

/* Container */
#main_container {
	background-color: #f7f7f7;
	/* Padding & Margin */
	padding: 10px;
	margin-top: -20px;
	/* Border */
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	/* Box Shadow */
	-webkit-box-shadow: 0px 3px 8px #d3d3d3;
	   -moz-box-shadow: 0px 3px 8px #d3d3d3;
            box-shadow: 0px 3px 8px #d3d3d3;
    /* Border Radius */
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Footer */
.footer {
	background-image: url('../img/header.png');
	background-attachment: fixed;
	height: 35px;
	/* Text */
	color: #f7f7f7;
	text-shadow: 1px 1px 0px #373737;
	/* Margin & Padding */
	margin: 10px -10px -15px -10px;
	padding: 5px 10px 0 10px;
	/* Border Radius */
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer p {
	margin: 0;
}

.footer a, .footer a:link, .footer a:visited, .footer a:hover {
	color: #f7f7f7;
	font-weight: bold;
}

/* Content */
.alert-forum {
	background-image: url('../img/header.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: repeat-x;
	/* Font */
	color: #f7f7f7;
    border: 1px solid #e0e0e0;
    /* Margin & Padding */
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
}

.panel-forum {
	border-color: #ddd;
}

.panel-forum > .panel-heading {
	background-image: url('../img/header.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: repeat-x;
	/* Font */
	color: #f7f7f7;
}

/* Top Login */
#top_login {
	/* Font */
	color: #f7f7f7;
}
#top_login a, #top_login a:link, #top_login a:visited, #top_login a:hover {
	color: #f7f7f7;
	font-weight: bold;
}

#toggle_login {
	background-color: #373737;
	background-image: ;
	/* Font */
	text-align: center;
	/* Padding  & Margin */
	padding: 5px 10px 5px 10px;
	margin: 0 auto;
}

#login_cont {
	background: #373737;
}

#login_cont .container {
	/* Display */
	display: none;
	/* Padding */
	padding: 10px;
}

/* Form */
input[type="text"], input[type="password"] {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #474747;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="text"]:focus, input[type="password"]:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type="submit"] {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    background-color: #e6e6e6;
    border: none;
    box-shadow: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
	background-color: #e0e0e0;
}

input[type="submit"]:active {
	background-color: #e0e0e0;
    border-color: #dbdbdb;
}

/* Font *
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

/* Breadcrumb */
.breadcrumb {
	background-image: url('../img/breadcrumb.png');
	/* Padding */
	padding: 5px 10px 5px 10px;
	/* Font */
	color: #f7f7f7;
	/* Border */
	border: none;
	/* Border Radius */
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}

.breadcrumb > li + li:before {
	font-family: FontAwesome;
	content: "\f105";
}

.breadcrumb > .active {
  color: #eeeeee;
}

.breadcrumb > li a, .breadcrumb > li a:link, .breadcrumb > li a:visited, .breadcrumb > li a:hover {
	color: #f7f7f7;
}

/* Button */
.btn-theme {
    background-image: url('../img/header.png');
    background-attachment: fixed;
    background-size: cover;
    background-color: #e6e6e6;
    border: none;
    box-shadow: none;
    /* Font */
    color: #f7f7f7;
    text-shadow: 1px 1px 0px #474747;
}
.btn-theme:hover,
.btn-theme:focus {
    background-color: #e0e0e0;
    /* Font */
    color: #eeeeee;
}
.btn-theme:active,
.btn-theme.active {
	background-image: url('../img/header.png');
	background-attachment: fixed;
	background-size: cover;
    border-color: #dbdbdb;
}

/* CSS Style Chooser */
.css_style_chooser {
	/* Font */
	text-align: right;
	/* Margin */
	margin: 15px 0 0 0;
}

.css_style_chooser a, .css_style_chooser a:link, .css_style_chooser a:visited {
	color: #474747;
}

.css_style_chooser a:hover {
	color: #373737;
}

.theme_editor {
	height: auto;
	overflow: auto;
	display: none;
	/* Margin & Padding */
	margin-bottom: 10px;
	padding: 5px 0 10px 0;
	/* Border */
	border-bottom: 1px solid #d8d8d8;
}

.theme_editor ul {
	height: auto;
	list-style: none;
	/* Margin */
	margin: 0 0 0 -31px;
}

.theme_editor ul li {
	height: auto;
	float: left;
	/* Margin and Padding */
	margin: 5px;
}

.theme_editor ul li a, .theme_editor ul li a:link, .theme_editor ul li a:visited {
	background-color: #474747;
	/* Font */
	color: #f7f7f7;
	/* Padding */
	padding: 10px 15px 10px 15px;
}

.theme_editor ul li a:hover {
	/* Font */
	font-weight: bold;
	text-decoration: none;
}

/* Panel */
.panel-theme > .panel-heading {
	background-image: url('../img/header.png');
    background-attachment: fixed;
    background-size: cover;
    background-color: #e6e6e6;
    border: none;
    box-shadow: none;
    /* Font */
    color: #f7f7f7;
    text-shadow: 1px 1px 0px #474747;
}