/* Importing CSS Files */
@import url('../js/wysibb/theme/flat/wbbtheme.css');
/*@Import url('http://cdn.wysibb.com/css/default/wbbtheme.css');*/
@import url('jquery.tagsinput.css');

div.savestatus {
    width: auto;
    padding:2px 5px;
    border:1px solid gray;
    background:#fff6e5;
    -webkit-box-shadow: 0 0 8px #818181;
    box-shadow: 0 0 8px #818181;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    color:red;
    position:absolute;
    top:-10px;
}

ul.visitors_framed {
    list-style: none;
    overflow: auto;
}

ul.visitors_framed > li {
    float: left;
    /* Margin */
    margin: 5px;
}

/* Emoji Font */
@font-face {
    font-family: 'OpenSansEmoji';
    src: url('../fonts/OpenSansEmoji.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
