@font-face {
    font-family: 'asapbold_italic';
    src: url('asap-bolditalic-webfont.eot');
    src: url('asap-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('asap-bolditalic-webfont.woff') format('woff'),
         url('asap-bolditalic-webfont.ttf') format('truetype'),
         url('asap-bolditalic-webfont.svg#asapbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'asapitalic';
    src: url('asap-italic-webfont.eot');
    src: url('asap-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('asap-italic-webfont.woff') format('woff'),
         url('asap-italic-webfont.ttf') format('truetype'),
         url('asap-italic-webfont.svg#asapitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'asapregular';
    src: url('asap-regular-webfont.eot');
    src: url('asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('asap-regular-webfont.woff') format('woff'),
         url('asap-regular-webfont.ttf') format('truetype'),
         url('asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'asapbold';
    src: url('asap-bold-webfont.eot');
    src: url('asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('asap-bold-webfont.woff') format('woff'),
         url('asap-bold-webfont.ttf') format('truetype'),
         url('asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Font Smoothing */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'asapregular';
        src: url('asap-regular-webfont.svg#asapregular') format('svg');
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'asapitalic';
        src: url('asap-italic-webfont.svg#asapitalic') format('svg');
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'asapbold_italic';
        src: url('asap-bolditalic-webfont.svg#asapbold_italic') format('svg');
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'asapbold';
        src: url('asap-bold-webfont.svg#asapbold') format('svg');
    }
}