@font-face {
	font-family: 'Minecraft Regular';
	src: url('minecraft.eot?') format('eot'),
	     url('minecraft.woff') format('woff'),
	     url('minecraft.ttf') format('truetype'),
	     url('minecraft.svg#Minecraft') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Font Smoothing */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Minecraft Regular';
        src: url('minecraft.svg#Minecraft') format('svg');
    }
}
