@import url('bootstrap.min.css');

nav.navbar {
	/* Margin */
	margin-bottom: 20px;
}

#bbcode_editor, .bbcode_editor {
	min-height: 250px;
}

/* Jumbotron */
.header-jumbotron {
	/* Margin */
	margin-top: -20px;
	/* Font */
	text-align: center;
	/* Border Radius */
	-moz-border-radius: 0;
	     border-radius: 0;
}

/* Footer */
footer.footer {
	/* Margin & Padding */
	margin-top: 20px;
	padding-top: 10px;
	/* Border */
	border-top: 1px solid #f4f4f4;
	/* Font */
	color: #c6c6c6;
	text-align: center;
}

/* Required classes for TangoBB */
.notice .success, .notice .error {

}

.reply-container {

}
