/*
 * Theme: WithMe
 * By: jtPox
 * Credits/Resources: FlatUI (DesignModo), Bootstrap (Twitter)
 */
html {
	height: 100%;
}
body {
	height: 100%;
	font-size: 14px;
	background-color: #f8f8f8;
}

/* Container */
.container {
	background-color: #fff;
	min-height: 100vh;
	height: auto;
	padding: 0;
	/* Box Shadow */
	box-shadow: 6px 0 4px -4px #d5d5d5, -6px 0 4px -4px #d5d5d5; 
	-moz-box-shadow: 6px 0 4px -4px #d5d5d5, -6px 0 4px -4px #d5d5d5; 
	-webkit-box-shadow: 6px 0 4px -4px #d5d5d5, -6px 0 4px -4px #d5d5d5;
}
.wrap {
	padding: 0 10px 10px 10px;
}
.row {
	overflow: auto;
}
.footer {
	background-color: none;
	text-align: center;
}

/* Elements */
.header {
	height: auto;
	margin: -20px 0 0 0;
}
.header h1 {
	margin: 0 0 5px 0;
}
.header .user_links {
	margin-top: 10px;
}

/* Navigation */
.navbar {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.navbar-header a.navbar-brand {
	padding-top: 14px;
	padding-bottom: 14px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.nav.navbar-nav {
	height: 60px;
}
.nav.navbar-nav li a {
	padding-top: 19px;
	padding-bottom: 19px;
}

/* Forum */
.post {
	height: auto;
	width: 100%;
}
.post .signature {
	max-height: 200px;
	overflow-y: scroll;
	overflow: auto;
}
.post .post_tools, .post .mod_tools {
	margin-top: 10px;
	text-align: right;
	padding: 0 0 5px 0;
	overflow: auto;
	visibility: hidden;
}
.post:hover .post_tools, .post:hover .mod_tools {
	visibility: visible;
}

/* Input */
input[type="text"], input[type="password"], input[type="email"] {
	border: 2px solid #bdc3c7;
	color: #34495e;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 15px;
	padding: 8px 12px;
	height: 42px;
	-webkit-appearance: none;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	border-color: #1abc9c;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input[type="submit"] {
	border: none;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
	border-radius: 4px;
	padding: 10px 15px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	color: #ffffff;
	background-color: #1abc9c;
}
input[type="submit"]:hover, input[type="submit"]:focus {
	color: #ffffff;
	background-color: #48c9b0;
	border-color: #48c9b0;
}
input[type="submit"]:active {
	background: #16a085;
}
input[type="submit"]:focus {
	outline: none;
}
label {
	display: block;
	clear: both;
}