/*
 * TangoBB Theme
 */
 body {
 	background-image: url('../img/white_wall_hash.png');
 	background-color: #ebebeb;
 	margin: 10px 0 10px 0;
 }

 #wrap.container {
 	background-color: #fff;
  height: auto;
 	margin-top: -20px;
 	padding: 10px;
 	border-left: 1px solid #c0c0c0;
 	border-right: 1px solid #c0c0c0;
 	border-bottom: 1px solid #c0c0c0;
 	-webkit-border-radius: 0 0 5px 5px;
 	   -moz-border-radius: 0 0 5px 5px;
 	        border-radius: 0 0 5px 5px;
 	-webkit-box-shadow: 0px 3px 8px #c0c0c0;
 	   -moz-box-shadow: 0px 3px 8px #c0c0c0;
            box-shadow: 0px 3px 8px #c0c0c0;
 }

 /* Logo */
 .logo {
 	background-image: url('../img/logo_b.png');
 	height: 40px;
 	width: 64px;
  /* Margin */
  margin-bottom: 4px;
 }
 .search_box {
 	width: 200px;
 	margin: 6px 0 0 0;
 }

/* HTML Entities */
img {
  max-width: 100%;
}

 /* Form */
 input[type="text"], input[type="password"], input[type="email"], .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #828282;
  vertical-align: middle;
  background-color: #d6d6d6;
  background-image: none;
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, .form-control:focus {
  background-color: #fff;
  border-color: #d6d6d6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: background-color ease-in-out 0.15s;
          transition: background-color ease-in-out 0.15s;
}

input[type="submit"] {
  font-weight: bold;
  margin: 2px 0 -2px 0;
  padding: 6px 12px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #409ae7 0%, #3887cb 100%);
  background-image: linear-gradient(to bottom, #409ae7 0%, #3887cb 100%);
  background-repeat: repeat-x;
  border: 1px solid #2b669a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#409ae7', endColorstr='#3887cb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px rgba(182, 182, 182, 0.75);
      moz-box-shadow:0 2px 2px rgba(182, 182, 182, 0.75);
          box-shadow: 0 2px 2px rgba(182, 182, 182, 0.75);
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #3887cb;
  background-position: 0 -15px;
  outline: none;
}

input[type="submit"]:active {
  background-image: none;
  background-color: #2d6ca2;
  border-color: #2b669a;
}

select {
  width: 100%;
  padding: 5px;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;    
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
}

/* HTML Elements */
footer {
  background-color: #505050;
  height: auto;
  overflow: auto;
  padding: 5px 10px 5px 10px;
	margin: 10px -10px -10px -10px;
  color: #f8f8f8;
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}
footer a, footer a:link, footer a:visited {
  color: #f8f8f8;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* Statistics */
.statistics {
  /* color: #adadad; */
  text-align: right;
  margin-top: 10px;
}

/* Breadcrumb */
.breadcrumb { 
 list-style: none; 
 overflow: hidden; 
 margin: 5px 0 5px 0;
 padding: 0;
 background: #FEFEFE;
 border: 1px solid #DDDDDD;
 border-bottom: 2px solid #DDDDDD;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
}

.breadcrumb li { 
 float: left; 
}

.breadcrumb li:first-child {
 margin-left: -30px;
}

.breadcrumb li a {
 color: #888888;
 text-decoration: none; 
 padding: 7px 0px 7px 50px;
 background: #FEFEFE; 
 position: relative; 
 display: block;
 float: left;
 font-style: italic;
}

.breadcrumb li.active {
 padding: 7px 10px 7px 40px;
 color: #888888;
 font-style: italic;
}

.breadcrumb li a:after {
 content: ""; 
 display: block; 
 width: 0; 
 height: 0;
 border-top: 50px solid transparent;  
 border-bottom: 50px solid transparent;
 border-left: 30px solid #FEFEFE;
 position: absolute;
 top: 50%;
 margin-top: -50px; 
 left: 100%;
 z-index: 1;
}

.breadcrumb li a:before { 
 content: ""; 
 display: block; 
 width: 0; 
 height: 0;
 border-top: 50px solid transparent;       
 border-bottom: 50px solid transparent;
 border-left: 30px solid #DDDDDD;
 position: absolute;
 top: 50%;
 margin-top: -50px; 
 margin-left: 1px;
 left: 100%;
 z-index: 1
}

.breadcrumb li.active:before {
  content: "";
}

.breadcrumb li a:hover {
  color: #5B9DD0;
}

/*
 * Post
 */
.post {
  position: relative;
  background: #ffffff;
}
.post:after, .post:before {
  left: 100%;
  top: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.post:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.post:before {
  border-color: rgba(203, 203, 203, 0);
  border-left-color: #cbcbcb;
  border-width: 11px;
  margin-top: -11px;
}
.signature {
  max-height: 200px;
  overflow-y: scroll;
  overflow: auto;
}
.starter {
  position: absolute;
  top: 10px;
  right: 5px;
}
.tools {
  overflow: auto;
  margin-top: 5px;
  border-top:1px dashed #d3d3d3;
}
.avatar_mini{
    width: 50px;
    height: 50px;
    padding-left: 2px;
    padding-top: 4px;
}
.node-read {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #dddddd;
}
.node-unread {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #000000;
}
.thread-read {
    visibility: hidden;
}