/*
 * Theme: Sand
 * By: Codetana
 */

@import url('bootstrap.min.css');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

h1.title {
	margin: 0 0 5px 0;
}

/* Logo */
.logo {
	background-image: url('../img/tangobb_logo.png');
	height: 70px;
	width: 230px;
}

.search {
	/* Margin */
	margin-bottom: 10px;
}

.login-bar {
    width: 100%;
    /* Padding and Margin */
    margin: 10px 0 5px 0;
}

.login-bar .dropdown-menu {
    width: 100%;
}

.login-form {
    /* Padding */
    padding: 0 5px 0 5px;
}

.login-form input {
    margin-bottom: 5px;
}

.login-form label {
    /* Font */
    text-align: center;
}

.forum-legends {
    /* Font */
    text-align: center;
    /* Padding and Margin */
    margin: 5px 0 15px 0;
}

/* Panel Heading */
.panel-success > .panel-heading, .panel-info > .panel-heading, .panel-warning > .panel-heading, .panel-danger > .panel-heading {
	/* Font */
	color: #fff;
}

/* Footer */
.footer {
	/* Color */
	color: #d5d2ce;
	/* Padding and Margin */
	padding: 10px 0 30px 0;
	/* Border */
	border-top: 1px solid #f8f5f0;
}

.footer .change_theme {
	/* Font */
	text-align: right;
}

/* Node */
.node-read {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #dddddd;
}
.node-unread {
    margin-left: 7px;
    margin-top:  7px;
    font-size: 28px;
    color: #000000;
}

/* Form */
input[type="submit"] {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #3e3f3a;
    border-color: transparent;
}

input[type="submit"]:hover {
	color: #ffffff;
    background-color: #242422;
    border-color: rgba(0, 0, 0, 0);
}

input[type="submit"]:active {
	background-image: none;
}

input[type="text"], input[type="password"], textarea, select {
	display: block;
    width: 100%;
    height: 46px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3e3f3a;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dfd7ca;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
  color: #dfd7ca;
  opacity: 1;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: #dfd7ca;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: #dfd7ca;
}

/* Threads */
.user_details {
    overflow: auto;
    /* Padding and Margin */
    padding: 0 0 7px 0;
    /* Border */
    border-bottom: 1px solid #f8f5f0;
}

.user_details .name {
    /* Float */
    float: left;
    /* Padding and Margin */
    margin: 0 0 0 10px;
}

.thread_content {
    min-height: 150px;
    /* Padding and Margin */
    padding: 10px 0 10px 0;
    /* Border */
    border-bottom: 1px dashed #f8f5f0;
}

.signature {
    height: auto;
    /* Padding and Margin */
    padding: 10px 0 10px 0;
}

.tools {
    overflow: auto;
}